/**
 * Color variables
 */

:root{
	--midnight-blue: #283e4a;
	--light-grey: #e5e5e5;
}

/**
 * Typography
 */

body {
	font-size: 18px;
	font-family: sans-serif;
}

p, span, a, div {
	font-size: 1rem;
	margin: 0;
	line-height: 1rem;
}

.s-14 {
	font-size: 14px;
}

.s-12 {
	font-size: 0.75rem;
}

.bold {
	font-weight: 700;
}

.white {
	color: white;
}

/**
 * Base rules
 */

.logo {
	display: block;
	max-width: 190px;
}

.icon {
	max-width: 32px;
	max-height: 32px;
	display: inline-block;
}

.icon--sm {
	max-width: 18px;
}

.form-control {
	outline: none;
	padding: 7px;
	border: none;
	width: 100%;
}

.card {
	background-color: rgb(255,255,255);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	border-radius: 2px;
	padding: 10px;
}

.textarea {
	border: 1px solid var(--light-grey);
}

.btn {
	border: 1px solid var(--light-grey);
	background: #fff;
}

/**
 * Utility classes
 */
.text-center {
	text-align: center;
}

.midnight-blue-bg {
	background-color: var(--midnight-blue);
}
