.layout-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #ecf0f1;
}

.main-container {
	flex-grow: 1;
	justify-content: space-between;
}

.globalContainer {
	display: block;
	width: 100%;
	max-width: 1024px;
	padding: 0 10px;
	margin: 0 auto;
}

.globalContainer > .left-pane {
	width: 250px;
}

.globalContainer > .right-pane {
	width: 250px;
}

.globalContainer > .main-body {
	width: 500px;
}

.flex {
	display: flex;
}

.flex--col {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.flex__item {
	flex-shrink: 0;
}

.media--reverse > .media-figure {
	order: 1;
	margin: 0 0 0 10px;
}

.img-30 {
	width: 30px;
	height: 30px;
}

.img-50 {
	width: 50px;
	height: 50px;
}

.align-center {
	align-items: center;
}

.margin-l-5 {
	margin-left: 5px;
}

.margin-m-10 {
	margin-bottom: 10px;
}

.textarea {
	resize: none;
	box-shadow: none;
	outline: none;
	padding: 10px;
}

.btn {
	padding: 5px 10px;
	border-radius: 2px;
	outline: none;
	box-shadow: none;
}
