@import url('/assets/css/base/normalize.css');
@import url('/assets/css/base/layout.css');
@import url('/assets/css/base/base.css');
@import url('/assets/css/components/header.css');
@import url('/assets/css/components/footer.css');
@import url('/assets/css/components/forms.css');
@import url('/assets/css/components/feed-sidepane-components.css');
.add-offer__section-title {
	font-size: 0.9317rem;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
}

.add-offer__form-submit {
	width: 100%;
	padding: 14px 20px;
	border: 0;
	margin-top: 20px;
}

.add-skill-location{
	width: 100%;
	padding: 14px 20px;
	border: 0;
}

.skill{
  border-radius: 3px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0 8px 6px 0;
  padding: 0 8px 0 8px;
  font-weight: 400;
  white-space: nowrap;
  background-color: #E0EDF5;
  color: #2F5D92;
}
.location{
  border-radius: 3px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0 8px 6px 0;
  padding: 0 8px 0 8px;
  font-weight: 400;
  white-space: nowrap;
  background-color: #E0EDF5;
  color: #2F5D92;
}

