@import url('/assets/css/base/normalize.css');
@import url('/assets/css/base/layout.css');
@import url('/assets/css/base/base.css');
@import url('/assets/css/components/header.css');
@import url('/assets/css/components/footer.css');
@import url('/assets/css/components/forms.css');
@import url('/assets/css/components/feed-sidepane-components.css');
.globalContainer > .main-body {
	max-width: 764px;
}
.contact-us__section-title {
	font-size: 0.9317rem;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}

.contact-us__form-submit {
	width: 100%;
	padding: 14px 20px;
	border: 0;
	margin-top: 0;
}

.title {
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
}

.left > p,
address {
	margin-bottom: 10px;
}

.left,
.right {
	flex-basis: 50%;
}

.form .form-group {
	padding-left: 0;
}

.horizontal-group > .form-group {
	flex-basis: 33%;
}
