@import url('/assets/css/base/normalize.css');
@import url('/assets/css/base/layout.css');
@import url('/assets/css/base/base.css');
@import url('/assets/css/components/header.css');
@import url('/assets/css/components/footer.css');
@import url('/assets/css/components/feed-sidepane-components.css');

.mcq {
	text-align: left;
	margin-top: 8px;
	margin-bottom: 12px;
}

.options label {
	transition: background-color .3s, ease-in;
	font-size: 15px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	background-color: none;
	color: #222;
	border: 1px solid #d4d4d4;
	padding: 2%;
	width: 80%;
	text-align: left;
	margin: 8px;
	font-weight: bold;
}

.options input[type="radio"] {
	display: none;
}

.options input[type="radio"]:checked+label {
	background: #283e4a;
	color: #fff;
}

.opt {
	background-color: #283e4a;
	padding: 2.2%;
	border: 1px solid #d4d4d4;
	color: white;
	font-weight: bold;
}

.testButton{
	background-color: #283e4a;
	border: 1px solid #d4d4d4;
	color: white;
	padding: 2.2%;
}
