@import url('/assets/css/base/normalize.css');
@import url('/assets/css/base/layout.css');
@import url('/assets/css/base/base.css');
@import url('/assets/css/components/header.css');
@import url('/assets/css/components/footer.css');
@import url('/assets/css/components/feed-sidepane-components.css');

.mcq {
	text-align: left;
	margin: 10px 0;
}

.options label {
	transition: background-color .3s, ease-in;
	font-size: 0.9375rem;
	flex-grow: 1;
	cursor: pointer;
	background: none;
	color: #222;
	border: 1px solid var(--semi-light-grey);
	padding: 10px 8px;
	text-align: left;
	margin: 0 0 0 10px;
	font-weight: bold;
	text-transform: none !important;
}

.options input[type="radio"] {
	display: none;
}

.options input[type="radio"]:checked+label {
	background: var(--midnight-blue);
	color: white;
	border-color: var(--midnight-blue);
}

.opt {
	background-color: #283e4a;
	padding: 7px 10px;
	color: white;
	font-weight: bold;
}

.option {
	align-items: flex-start;
	margin-bottom: 15px;
}

.testButton{
	background-color: var(--midnight-blue);
	color: white;
	padding: 8px 10px;
}

.skill-name {
	flex-grow: 1;
}

#next-button {
	margin-left: auto;
}

.submitButton {
	margin-top: 15px;
	text-align: center;
}
