@import url('/assets/css/base/normalize.css');
@import url('/assets/css/base/layout.css');
@import url('/assets/css/base/base.css');
@import url('/assets/css/components/header.css');
@import url('/assets/css/components/footer.css');
@import url('/assets/css/components/forms.css');
@import url('/assets/css/components/feed-sidepane-components.css');
.skills-container {
	flex-wrap: wrap;
	margin: 30px -10px 20px 0;
}

.skill {
	background: var(--midnight-blue);
	border: 1px solid var(--midnight-blue);
	color: white;
	padding: 10px;
	width: 237px;
	height: 60px;
	margin: 0 10px 30px 0;
	flex-shrink: 0;
	position: relative;
}

.skill:after {
	position: absolute;
	left: -1px;
	top: -19px;
	width: 100%;
	text-align: center;
	background: white;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid var(--midnight-blue);
}

.skill.free:after {
	content: 'Free';
	color: var(--midnight-blue);
}

.skill.paid:after {
	content: 'Premium';
	color: white;
	background: var(--red);
}

.skill > p {
	margin: auto;
	font-weight: 500;
	text-align: center;
}

.skills__section-title {
	font-size: 0.9317rem;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
}

.explore-panel {
	margin-bottom: 10px;
}

.skills__load-more {
	width: 20%;
	padding: 7px;
	border: 0;
	margin-top: 10px;
}

