@import url('/assets/css/base/normalize.css');
@import url('/assets/css/base/layout.css');
@import url('/assets/css/base/base.css');
@import url('/assets/css/components/footer.css');
@import url('/assets/css/components/feed-sidepane-components.css');
@import url('/assets/css/components/forms.css');
@import url('/assets/css/components/tabs.css');
.primary-header {
	margin-bottom: 10px;
}

.globalContainer > .main-body {
	max-width: 764px;
}

.user__cover-pic {
	height: 300px;
}

.user__name {
	padding: 10px;
	align-items: center;
	background: black;
}
.user__name > p {
	flex-grow: 1;
	color: white;
	font-size: 1.2em;
	font-weight: 500;
}

.user__pic {
	height: 50px;
}

.user__pic > img {
	display: block;
	max-width: 150px;
	border-radius: 100%;
	margin: auto;
	border: 5px solid white;
	top: -100px;
	position: relative;
}

.user-information .heading {
	margin: 20px 0;
	padding: 5px 0;
	position: relative;
}

.user-information .heading > span {
	flex-grow: 1;
}

.user-information .heading > .btn {
	border: 0;
}

.user-information .heading:after {
	content: "";
	position: absolute;
	width: 120px;
	height: 2px;
	background: var(--midnight-blue);
	left: 0;
	bottom: 0;
}

.user-information p {
	margin-bottom: 5px;
}

.user-information .tab-content>.tab-pane {
	padding: 5px;
}

.user-information .media-figure {
	margin-right: 10px;
}

.user-information p.personal-info {
	margin-bottom: 15px;
}

.personal-info > strong{
	flex-shrink: 0;
	width: 100%;
	max-width: 200px;
}

.horizontal-group > * {
	flex-grow: 1;
}

.form .action-bar {
	text-align: right;
}

.skills-container {
	flex-wrap: wrap;
	margin-right: -15px;
}

.skill {
	background: var(--midnight-blue);
	border: 1px solid var(--midnight-blue);
	color: white;
	padding: 10px;
	width: 239px;
	height: 130px;
	margin: 0 10px 10px 0;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.skill:after {
	position: absolute;
	right: -25px;
	top: 26px;
	width: 120px;
	text-align: center;
	transform: rotateZ(45deg);
	background: white;
	font-weight: 500;
	text-transform: uppercase;
}

.skill.free:after {
	content: 'Free';
	color: var(--midnight-blue);
}

.skill.paid:after {
	content: 'Premium';
	color: white;
	background: var(--red);
}

.skill > p {
	margin: auto;
	font-weight: 500;
	text-align: center;
}

.message-btn {
	margin-right: 5px;
}
