.form {
	margin-bottom: 0;
}

.form__label {
	font-size: 0.9317rem;
	font-weight: 500;
}

textarea,
textarea::-webkit-input-placeholder {
	font-size: 0.875rem;
}

input,
input::-webkit-input-placeholder {
	font-size: 0.875rem;
}

.radio,
.checkbox {
	position: relative;
	display: block;
}
.radio label,
.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	position: absolute;
	margin-top: 4px \9;
	margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
	margin-top: -5px;
}

input[type='submit'] {
	cursor: pointer;
}

.form__input {
	width: 100%;
	padding: 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid var(--semi-light-grey);
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}

.form__input--tiny {
	padding: 5px;
	margin: 4px 0;
}

.select {
	display: inline-block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 0.875em;
	line-height: 1.42857143;
	background-color: white;
	background-image: none;
	border: 1px solid var(--semi-light-grey);
	border-radius: 4px;
	outline: none;
}

.form-group {
	padding: 5px;
}

.form__input:focus {
	border-color: var(--grey);
}
