.remodal-wrapper {
	padding: 0;
}

.remodal {
	max-width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: scroll;
}

.remodal-close {
	right: 0;
	left: auto;
	width: 45px;
	height: 45px;
}

.remodal-close:before {
	font-size: 36px;
	width: 45px;
	line-height: 45px;
}

.modal-body {
	width: 100%;
	margin: auto;
	max-width: 1200px;
	text-align: left;
}

.modal-body__left {
	flex-grow: 1;
	width: 66%;
	max-width: 800px;
	margin-right: 10px;
}

.modal-body__right {
	flex-grow: 1;
	width: 31.66%;
	max-width: 380px;
}

.modal-body p {
	margin-bottom: 10px;
}

.modal-body__right {
	background: var(--light-grey);
	padding: 20px 15px;
}
